<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index de Fruta</title>
</head>
<body>
	<h1>Gestión de Frutas</h1>
	<br>
	<a th:href="@{/FrutaCtrl/abrirGuardar}">Guardar</a>
	<br>
	<table border="3">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Precio</th>
				<th>Color</th>
				<th>Editar</th>
				<th>Elilminar</th>
			</tr>
		</thead>
		
		<tbody>
		<tr th:each="e : ${lista}">
		<td th:text="${e.id}">Id</td>
		<td th:text="${e.nombre}">Nombre</td>
		<td th:text="${e.precio}">Precio</td>
		<td th:text="${e.color}">Color</td>
		<td><a th:href="@{/FrutaCtrl/abrirEditar/}+${e.id} "th:text="Editar"><a></td>
		<td><a th:href="@{/FrutaCtrl/abrirEliminar/}+${e.id} "th:text="Eliminar"><a></td>
		
				</td>
			</tr>
		</tbody>
	</table>	
</body>
</html>